book {
    display: block;
    position: absolute;
    background-color: #fff9c2;
    left: 12.5%;
    right: 12.5%;
    width: 75%;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    overflow-y: visible;
}

book_title {
    position: relative;
    left: 3%;
    top: 1%;
    width: 5%;
    font-size: 24px;
}

author {
    position: relative;
    left: 5%;
    top: 1%;
    font-size: 24px;
}

part {
    display: block;
    position: relative;
    width: 92%;
    left: 4%;
    right: 4%;
    top: 3%;
}

part_title {
    display: block;
    position: relative;
    left: 3%;
    margin-top: 5%;
    font-size: 28px;
    font-family: "Arial Hebrew", Arial, sans-serif;
}

chapter {
    display: block;
    position: relative;
    width: 100%;
}

chapter_title {
    display: block;
    position: relative;
    left: 5%;
    margin-top: 1%;
    font-size: 20px;
}

para {
    display: block;
    position: relative;
    left: 3%;
    margin-top: 2%;
    width: 94%;

}
